a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

a:link , a:hover , a:visited, a:active{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

/*body{*/
/*    background-color: rgb(246,249,250);*/
/*}*/

#header {
    width: 100%;
    min-width: 1200px;
    /*下面两行设置当前标签内的文字垂直居中*/
    height: 54px;
    line-height: 54px;
    /*设置当前标签内的文字水平居中*/
    /*background-color: rgb(246,249,250);*/
    /*border-bottom: 1px gray solid;*/
}

#header_title {
    float: left;
    text-align: left;

    width: 10%;
    min-width: 160px;
    height: 55px;
    line-height: 55px;
}

#header_title_blank{
    float: left;
    min-width: 10px;
    height: 55px;
    width: 10px;
}

#blank{
    float: left;
    text-align: center;
    height: 55px;
    line-height: 55px;
}

#jump_message{
    float: right;
    text-align: right;

    width: 30%;
    min-width: 700px;
    height: 55px;
    line-height: 55px;
}

#jump_message_blank{
    float: right;
    min-width: 10px;
    height: 55px;
    width: 10px;
}

#main{
    width: 100%;
    min-width: 1200px;
    overflow-y: auto;
    min-height: 580px;
    margin: 0 auto;
    background-color: white;
}

#main_inner{
    width: 1200px;
    overflow-y: auto;
    min-height: 580px;
    margin: 0 auto;
    background-color: white;
}

#page_nav{
    width: 100%;
    min-width: 1200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.pav_btn{
    background-color:transparent;
    border:0px;
    font-size:16px;
    font-weight: bold;
}

#bottom {
    width: 100%;
    min-width: 1200px;
    height: 200px;
    line-height: 80px;
    text-align: center;
    background-color: rgb(246,249,250);
    /*background-color: rebeccapurple;*/
}

.goods_list{
    height:300px;
    width:250px;
    margin: 20px;
    float: left;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pn_input {
    width: 30px;
    text-align: center;
}

.img_div{
    height: 150px;
    text-align: center;
}

.goods_img {
    height:150px;
    width:150px;
}

.goods_info {

    text-align: center;
}

#a{
    width: 100%;
    min-width: 1200px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    background-color: white;
}

#b{
    width: 100%;
    min-width: 1200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: white;
}